
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e5e5e5;
}
/*slide show for menu gallery*/
.menu-gallery-slideshow {
    position: relative;
    margin: auto;
    flex-direction: row;
}

.menu-gallery-slideshow .slide {
    display: none; /* hide all slides */
    text-align: center;
    opacity: 0; /* start with transparent */
    transition: opacity 0.8s ease-in-out;/* smooth fade transition */
}

.menu-gallery-slideshow .slide.active {
    display: block; /* show only the active slide */
    opacity: 1; /* fully opaque */
}

.menu-gallery-slideshow img {
    border-radius: 8px; 
}

/* BANNER CONTENT */

.banner-container {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    box-sizing: border-box;   
    font-size: 30px;;
}

/* ABOUT SECTION */
.about-chef {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5em;

}
.about-container {
    display: flex;
    align-items: center;
    gap: 5em;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba (0, 0, 0, 0.4);
}
.about-image {
    flex: 1;
}
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.about-text {
    flex: 2;
    line-height: 1.2;
    letter-spacing: -0.5;
}
.about-text p {
    line-height: 1.2;
    letter-spacing: -0.5px;
}

/* MENU GALLERY */
.menu-title, .menu-intro{
    text-align: center;
}

.menu-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: #283618;
    color: white;
}

.menu-gallery {
    display: flex;
    justify-content: center;
    gap: 2em;
}

/* Make menu text white inside slideshow */
.menu-gallery-slideshow h3,
.menu-gallery-slideshow a {
    color: white;
    text-decoration: none;
}



/*BBQ*/
.gallery-bbq {
    text-align: center;

}
.gallery-bbq img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
    border: 2px solid white;

}
.bbq-title {
    margin-top: 1em;
    font-size: 1.2 em;

    /* text-decoration: none;
    color: inherit;
    color: white; */

}

/*BAKE*/
.gallery-baking {
    text-align: center;
}
.gallery-baking img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid white;

}
.bake-title {
    margin-top: 1em;
    font-size: 1.2 em;
}


/*COOK*/
.gallery-cooking {
    text-align: center;
}
.gallery-cooking img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid white;

}
.cook-title {
    margin-top: 1em;
    font-size: 1.2 em;
}

