body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e5e5e5;
}
.menu-gallery-slideshow {
    position: relative;
    margin: auto;
}

.menu-gallery-slideshow .slide {
    display: none; /* hide all slides */
    text-align: center;
}

.menu-gallery-slideshow .slide.active {
    display: block; /* show only the active slide */
}

.menu-gallery-slideshow img {
    border-radius: 8px; 
}

/* BANNER CONTENT */

.banner-container {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.banner-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;   
  font-size: 30px;;
}

/*BOOKING*/
#booking-section {
  background-color: #f0f4f7; 
  padding: 4em 0; 
  text-align: center; 
}

#booking-form {
  max-width: 600px; 
  margin: 0 auto;
  padding: 2em; 
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  text-align: left;
}

label.required::after {
    content: " *";
    color: red;
}

.nav-toggle {
    display: none; /* hide on desktop */
}

#add-dish-btn, #restart-booking-btn, #submit-btn, .remove-dish-btn {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: #52381D;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 6px;
    margin-top: 1.5em;
    cursor: pointer;
}

.remove-dish-btn {
  margin-bottom: 1em;
}